body
{
    font-family: Arial;
    color: #595959;
    font-size: 14px;
    margin:0;
    padding:0;
    background:whitesmoke;
}

a
{
    color:rgb(0, 148, 255);
    border:0;
    text-decoration:none;
}

a:hover
{    
    border-bottom:1px solid;    
}

div.content
{
    margin:0 auto; 
    width:650px;
    padding:0 15px;
    background:white;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    margin-bottom:50px;
}

    div.content h1
    {
        margin: 0 0 25px;
        padding: 5px 0;
        border-bottom: 1px solid whitesmoke;
        font: normal 20px Tahoma;
    }

span.label
{
    display: block;
    font-size: 11px;
    color: #5F5F5F;
    margin-top: 10px;
}

div.form
{
    width: 300px;
    padding: 5px 15px 10px;
    background: whitesmoke;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin:15px 0 10px;
    border: 3px solid #F49B14;
    margin:35px auto 0;
	display:none;
}

div.form .dgroups
{
	border: 2px dashed #ddd;
	background: white;
	padding: 5px;
	font-size: 13px;
	color: #2B2B2B;
	border-radius: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

    div.form h1
    {        
        font-weight: normal;
        margin: 5px 0 15px;        
        font-size: 24px;
        color:#F49B14;
    }

    div.form .buttons { margin: 30px 0 5px; }

        div.form div.buttons .left
        {
            float:left;
        }

        div.form div.buttons .right
        {
            float: right;
            padding: 4px;
            margin: 0 15px;
        }

            div.form div.buttons .right a
            {
                border-bottom: 1px dashed;
                text-decoration: none;
                cursor: pointer;
            }

input[type=text],input[type=password],input[type=tel], input[type=email]
{
    width: 100%;
    border: 1px solid #DDD;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 6px;
    outline: none;
    color: #1B1B1B;
    font-size:15px;
    margin:0;
}

.disabled
{
    opacity:0.6;
}

.disabled:hover
{
    
}


span#v
{
    font-style:italic;
}

footer
{
    background: white;
    width: 650px;
    padding: 8px 15px;
    margin: 0 auto;
    height: 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid whitesmoke;
    font-size: 12px;
    color: #3D3D3D;
    text-align: center;
}

table
{
    background:#ccc;
    font:normal 12px Tahoma;
}

table tr
{
    background:white;
}